.heading{
  padding: 5% 10%;
}


.card{
  width:15rem;
  border-radius:1px;
  border: 2px solid #292929;
}
.card-body{
  background: #ededed;


}


.card-text{
  text-align: center;
  font-size: 15px;
  font-weight: bold;




}


@media(max-width:450px){

  .card{
    width:10rem;

    margin-top: 5px;

  }
}
